<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SMTPServer" value="mysmtpserver.com"/>
    <add key="EmailTo" value="myemail@domain.com"/>
    <add key="EmailFrom" value="myemail@domain.com"/>
    <add key="OutputDirectory" value="output"/>
    <add key="WaitTime" value="60000"/>
    <add key="TimeoutSeconds" value="5"/>    
    <add key="SkipTimes" value="Sunday-00:00-06:00|Saturday-00:00-06:00|Monday-00:00-03:00|Tuesday-00:00-03:00|Wednesday-00:00-03:00|Thursday-00:00-03:00|Friday-00:00-03:00"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>